// External Home Page with login and sign up styling
.home-body{
  display: flex-column;
  background-color: #f0f2f5; 
  font-family: Helvetica;
}

.home-main{
  display: flex;
  display: row;
  align-items: center;
  height: 100vh;
}

.home-section{
  flex: 1;
  background-color: #f0f2f5; 
  margin: 80px;
  padding: 0px;
  text-align: left;
}

.home-h1{
  margin: 28px;
  color: #1877F2;
  font-family: Helvetica;
  font-size: 90px;
}

.home-h2{
  margin: 0px 28px;
  color: black;
  font-family: Helvetica;
  font-weight: 500;
  font-size: 35px;
}
.popup-div{
  margin-left: 22px;
}

.home-about-button{
  margin: 28px;
}

.home-div{
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  border: 0.5px solid#e6e6e6 ;
  margin: 10px;
  margin-right: 100px;
  width: 300px;
  text-align: center;
  justify-items: center;
  border-radius: 2%;
  margin-top: 40px;
  padding: 20px;
  box-shadow: 0.5px 1px 5px 1px lightgrey;

}
.back-from-register{
  text-align: right;
}

.register-input{
  background-color: #f0f2f5; 
  margin-bottom: 10px;
  border: none;
  box-shadow: 0.5px 1px 5px 1px #90949C;
  padding: 5px;
}

#top-space{
  margin-top: 15px;
}

.login-button{
  background-color: #4267B2;
  color: white;
  padding: 4px 8px;
  border-radius: 12%;
  border: 2px solid #305192;
  margin: 5px;
}

.create-new-account-button{
  background-color: #69A74E;
  color: white;
  padding: 4px 8px;
  border-radius: 10%;
  border: 2px solid #335823;
  margin: 5px;
}

.image-upload-button{
  color: #8a8e95;
  background-color: #d9dce2;
  border: 2px solid #90949C;
  border-radius: 10%;
}

// Navbar
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60px;
  border-bottom: 2px solid #ced1d6;
}

.navbar-link.active{
  border-bottom: 4px solid #1877f2 ;
  text-decoration: none;
}

.navbar-link {
  color: #1D2129;
  text-decoration: none;
  padding: 20px;
  font-size: 20px;
  font-family: Helvetica;
  font-weight: bold;

}

.home-image:hover{
  border-bottom: 3px solid #1877f2 ;
  padding-bottom: 2px;
  height: 10px;
}

#navbar-space{
  margin-right: 250px;
}

.profile-image {
  border-radius: 50%;
  padding-left: 20px;
  padding-right: 10px;
}

.navbar-username{
  color: #1D2129;
  text-decoration: none;
  font-size: 20px;
  font-family: Helvetica;
  font-weight: bold;
  margin-bottom: 10px;
}

.navbar-button{
  margin-left: 30px;
  border-radius: 50%;
  border: none;
  color: #1D2129;
  background-color: #d9dce2;
  font-weight: bold;

}

.navbar-button:hover {
  color:#1877F2;
  text-decoration: underline;
}

// Homepage - side container
.homepage-container{
  display: flex;
  flex-direction: row;
  background-color: #f0f2f5;
  padding: 0px;
  height: 100vh;
  font-family: Helvetica;
}

.side-container{
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  background-color: #f0f2f5;
  width: 25%;
  height: 100vh;

}

#growth{
  overflow-y: scroll;
}

.side-link{
  color: #1D2129;
  text-decoration: none;
}

.first-container{
  display: flex;
  justify-content: center;

}

.first-container:hover {
  background-color: #c7cad1e1;
}

.side-image{
  border-radius: 50%;
  margin-top: 20px;
  margin-right: 20px;
}

.username{
  width: 80%;
  display: inline;
  font-size: 40px;
}

.side-text{
  width: 80%;
  display: inline;
  font-size: 30px;
}

//Homepage- middle container
.middle-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background-color: #f0f2f5;
}

.status-div {
  align-content: left;
  width: 70%;
  background-color: white;
  border-radius: 2%;
  margin-top: 40px;
  padding: 15px;
  box-shadow: 0.5px 1px 5px 1px lightgrey;

}

.status-image{
  border-radius: 50%;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  vertical-align: middle;
}

.status-paragraph{
  display: inline;
  font-size: 25px;
}

.input-div{
  display: flex;
  justify-content: center;
}

.status-input{
  border-radius: 25%;
  width: 400px;
  height: 25px;
  display: block;
  color: #65676B;
  background-color: #F0F2F5;
  border: #F0F2F5;
  font-size: 17px;
  padding: 8px 12px;
  margin-bottom:10px;;
}

.status-button-div{
  text-align: right;

}

.search-input{
  border-radius: 5%;
  width: 400px;
  height: 25px;
  color: #65676B;
  background-color: #F0F2F5;
  border: #F0F2F5;
  font-size: 17px;
  padding: 8px 12px;
  margin-bottom:10px;
  margin-right: 20px;
}

.status-button{
  display: inline;
  margin-right: 40px;
  color: #2f333d;
  background-color: #1877F2;
  border: #E4E6EB;
  height: 30px;
  border-radius: 10%;
  text-decoration: bold;
}


.search-button{
  margin-right: 40px;
  border: #E4E6EB;
  height: 30px;
  border-radius: 10%;
  text-decoration: bold;
  color: #1D2129;
  background-color: #d9dce2;
  font-weight: bold;
}

.trip-feed-div {
  text-align: center;
  align-content: center;
  width: 70%;
  background-color: white;
  border-radius: 2%;
  margin-top: 40px;
  padding: 15px;
  box-shadow: 0.5px 1px 5px 1px lightgrey;

}

#posted-by{
  text-align: right;
  padding-right: 20px;
  padding-bottom: 20px;
}

#posted-by-image{
  border-radius: 50%;
}

/// Home - right side container
.right-container{
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  text-align: center;
  width: 15%;
  background-color: #f0f2f5;

}

.message-div{
  text-align: center;
  text-decoration: bold;
  align-content: center;
  width: 80%;
  background-color: white;
  border-radius: 2%;
  margin-top: 40px;
  padding: 15px;
  box-shadow: 0.5px 1px 5px 1px lightgrey;
}






