// External Home Page with login and sign up styling

.home-body{
  display: flex-column;
  background-color: #f0f2f5; 
  color: #999;
}

.home-main{
  display: flex;
  display: row;
  align-items: center;
  height: 100vh;

}

.home-section{
  flex: 1;
  background-color: #f0f2f5; 
  margin: 80px;
  padding: 0px;
  text-align: left;
}

.home-h1{
  margin: 28px;
  color: #1877F2;
  font-family: Helvetica;
  font-size: 90px;

}

.home-h2{
  margin: 0px 28px;
  color: black;
  font-family: Helvetica;
  font-weight: 500;
  font-size: 35px;
}

.home-about-button{
  margin: 28px;
}
.home-div{
  background-color: white;
  border: 0.5px solid#e6e6e6 ;
  padding-top: 25px;
  padding-bottom: 20px;
  margin: 10px;
  width: 300px;
  text-align: center;
  justify-items: center;

}

// Navbar
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60px;
  border-bottom: 2px solid #ced1d6;
}

.navbar-link.active{
  border-bottom: 3px solid #1877f2 ;
  text-decoration: none;
}

.navbar-link {
  color: #1D2129;
  text-decoration: none;
  padding: 20px;
  font-size: 20px;
  font-family: Helvetica;
  font-weight: bold;

}

.home-image:hover{
  border-bottom: 3px solid #1877f2 ;
  padding-bottom: 2px;
  height: 10px;
}

#navbar-space{
  margin-right: 250px;
}

.profile-image {
  border-radius: 50%;
  padding-left: 20px;
  padding-right: 10px;
}

.navbar-username{
  color: #1D2129;
  text-decoration: none;
  font-size: 20px;
  font-family: Helvetica;
  font-weight: bold;
  margin-bottom: 10px;
}

.navbar-button{
  margin-left: 30px;
  border-radius: 50%;
  border: none;
  color: #1D2129;
  background-color: #d9dce2;
  font-weight: bold;

}

.navbar-button:hover {
  color:#1877F2;
  text-decoration: underline;
}

// Homepage - side container
.homepage-container{
  display: flex;
  flex-direction: row;
  background-color: #f0f2f5;
  padding: 0px;
  // width: 100%;
  // height: 100vh;
  font-family: Helvetica;
  // background-color: blue;
}

.side-container{
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  background-color: #f0f2f5;
  // background-color: white;
  width: 25%;
  height: 100vh;

}

#growth{
  overflow-y: scroll;
}

.side-link{
  color: #1D2129;
  text-decoration: none;
}

.first-container{
  display: flex;
  justify-content: center;

}

.first-container:hover {
  background-color: #c7cad1e1;
  border-radius: 12%;
}

.side-image{
  border-radius: 50%;
  margin-top: 20px;
  margin-right: 20px;
}

.username{
  width: 80%;
  display: inline;
  font-size: 40px;
}

//Homepage- middle container
.middle-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background-color: #f0f2f5;
}

.status-div {
  align-content: left;
  width: 70%;
  background-color: white;
  border-radius: 10%;
  margin-top: 20px;
  padding: 15px;
  border: 1px solid grey;

}

.status-image{
  border-radius: 50%;
  margin-top: 20px;
  margin-right: 20px;
  vertical-align: middle;
}
.status-input{
  border-radius: 30%;
  width: 400px;
  height: 20px;
}

.status-button-div{
  text-align: right;

}

.status-button{
  display: inline;
  margin-right: 40px;
}

.middle-div{
  display: flex;
  justify-content: center;
}
.right-container{
  width: 15%;
  background-color: grey;

}




