// External Home Page with login and sign up styling
.home-body{
  display: flex-column;
  background-color: #f0f2f5; 
  font-family: Helvetica;
}

.home-main{
  display: flex;
  display: row;
  align-items: center;
  height: 90vh;
}

.popup{
  height: 90vh !important;
}

.home-section{
  flex: 1;
  background-color: #f0f2f5; 
  margin: 80px;
  padding: 0px;
  text-align: left;
}

.home-h1{
  margin: 28px;
  color: #1877F2;
  font-family: Helvetica;
  font-size: 90px;
  padding-left: 5px;
}

.home-h2{
  margin: 0px 28px;
  color: black;
  font-family: Helvetica;
  font-weight: 500;
  font-size: 35px;
}


.home-about-button{
  margin: 28px;
}

.home-div{
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  border: 0.5px solid#e6e6e6 ;
  margin: 10px;
  margin-right: 100px;
  width: 300px;
  text-align: center;
  justify-items: center;
  border-radius: 2%;
  margin-top: 40px;
  padding: 20px;
  box-shadow: 0.5px 1px 5px 1px lightgrey;

}
.back-from-register{
  text-align: right;
}

.register-input{
  background-color: #f0f2f5; 
  margin-bottom: 10px;
  border: none;
  box-shadow: 0.5px 1px 5px 1px #90949C;
  padding: 5px;
  width: 100%;
}

#top-space{
  margin-top: 15px;
}

.login-button{
  background-color: #4267B2;
  width: 100%;
  color: white;
  padding: 4px 8px;
  border-radius: 8px;
  border: 2px solid #305192;
  margin: 5px;
}

.login-button:hover{
  cursor: pointer;
}

.about-button{
  background-color: #4267B2;
  color: white;
  padding: 4px 8px;
  border-radius: 8px;
  border: 2px solid #305192;
  margin: 5px;
}
about-button:hover{
  cursor: pointer;
}

.image-upload-button{
  background-color: #f0f2f5; 
  color: grey;
  border: 2px solid grey;
  border-radius: 8px;
  margin-bottom: 2px;
}

.image-upload-button:hover{
  cursor: pointer;
}



.btn-grad {background-image: linear-gradient(to right, #5e9a45 0%, #a8e063  51%, #56ab2f  100%)}
.btn-grad {
  margin: 5px;
  padding: 4px 8px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border: 2px solid #69A74E;
  border-radius: 8px;
  width: 100%;
}

.btn-grad:hover {
  background-position: right center; 
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.register-footer{
  background-color: #4267B2;
  color: white;
  height: 8vh;
  padding-top: 10px;
  padding-left: 10px;
}

// Navbar
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60px;
  border-bottom: 2px solid #ced1d6;
}

.navbar-link.active{
  border-bottom: 4px solid #1877f2 ;
  text-decoration: none;
}

.navbar-link {
  color: #1D2129;
  text-decoration: none;
  padding: 20px;
  font-size: 20px;
  font-family: Helvetica;
  font-weight: bold;

}

.home-image:hover{
  border-bottom: 3px solid #1877f2 ;
  padding-bottom: 2px;
  height: 10px;
}

#navbar-space{
  margin-right: 400px;
}

.profile-image {
  border-radius: 50%;
  padding-left: 20px;
  padding-right: 10px;
}

.navbar-username{
  color: #1D2129;
  text-decoration: none;
  font-size: 20px;
  font-family: Helvetica;
  font-weight: bold;
  margin-bottom: 10px;
}

.navbar-button{
  margin-left: 30px;
  border-radius: 50%;
  border: none;
  color: #1D2129;
  background-color: #d9dce2;
  font-weight: bold;

}

.navbar-button:hover {
  color:#1877F2;
  text-decoration: underline;
  cursor: pointer;
}

// Homepage - side container
.homepage-container{
  display: flex;
  flex-direction: row;
  background-color: #f0f2f5;
  padding: 0px;
  height: 100vh;
  font-family: Helvetica;
}

.side-container{
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  background-color: #f0f2f5;
  width: 25%;
  height: 100vh;

}

#growth{
  overflow-y: scroll;
}

.side-link{
  color: #1D2129;
  text-decoration: none;
}

.first-container{
  display: flex;
  justify-content: center;

}

.first-container:hover {
  background-color: #c7cad1e1;
}

.empty-container{
  display: flex;
  justify-content: center;

}

.side-image{
  border-radius: 50%;
  margin-top: 20px;
  margin-right: 20px;
}

.username{
  width: 80%;
  display: inline;
  font-size: 40px;
}

.side-text{
  width: 80%;
  display: inline;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

//Homepage- middle container
.middle-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background-color: #f0f2f5;
}

.status-div {
  align-content: left;
  width: 70%;
  background-color: white;
  border-radius: 8px;
  margin-top: 40px;
  padding: 15px;
  box-shadow: 0.5px 1px 5px 1px lightgrey;

}

.status-image{
  border-radius: 50%;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  vertical-align: middle;
}

.status-paragraph{
  display: inline;
  font-size: 25px;
}

.input-div{
  display: flex;
  justify-content: center;
}

.status-input{
  border-radius: 25px;
  width: 400px;
  height: 25px;
  display: block;
  color: #65676B;
  background-color: #F0F2F5;
  border: #F0F2F5;
  font-size: 17px;
  padding: 8px 12px;
  margin-bottom:10px;;
}

.status-button-div{
  text-align: right;

}

.search-input{
  border-radius: 25px;
  width: 400px;
  height: 25px;
  color: #65676B;
  background-color: #F0F2F5;
  border: #F0F2F5;
  font-size: 17px;
  padding: 8px 12px;
  margin-bottom:10px;
  margin-right: 20px;
}

.status-button{
  display: inline;
  margin-right: 40px;
  color: #2f333d;
  background-color: #1877F2;
  border: #E4E6EB;
  height: 30px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
}

.status-button:hover{
  cursor: pointer;
}


.search-button{
  margin-right: 40px;
  border: #E4E6EB;
  height: 30px;
  border-radius: 8px;
  text-decoration: bold;
  color: #1D2129;
  background-color: #d9dce2;
  font-weight: bold;
}

.search-button:hover{
  cursor: pointer;
}

.trip-feed-div {
  text-align: center;
  align-content: center;
  width: 70%;
  background-color: white;
  border-radius: 8px;
  margin-top: 40px;
  padding: 15px;
  box-shadow: 0.5px 1px 5px 1px lightgrey;
}

// .image-div{
//   display: flex;
//   flex-grow: 1;
// }

.mapbox-div {
  display:flex;
  justify-content:center;
  text-align: center;
  margin-left:20px;
  width: 90%;
  background-color: white;
  border-radius: 8px;
  margin-top: 40px;
  padding: 15px;
  box-shadow: 0.5px 1px 5px 1px lightgrey;
}


.trip-image{
  margin-top: 20px;
  border: 0.8px solid  lightgrey
}

.trip-name{
  font-weight: bold;
  padding: 15px;
  text-transform: uppercase;
  font-size: 20px;
}

#description-div {
  padding: 15px;
  margin-left:20px;
  width: 90%;
  box-shadow: 0.5px 1px 5px 1px lightgrey;
  background-color: rgb(241, 241, 241);
}

.card-bottom-div{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

#liked-by{
  text-align: left;
  margin-top: 25px;
}

#number-of-likes{
  display: inline;
  margin-left: 10px;

}

#like-button{
  display: inline;

}

#posted-by-image{
  border-radius: 50%;
}

.home-link{
  text-decoration: none;
}


/// Home - right side container
.right-container{
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  text-align: center;
  width: 15%;
  background-color: #f0f2f5;

}

.message-div{
  text-align: center;
  text-decoration: bold;
  align-content: center;
  width: 80%;
  background-color: white;
  border-radius: 2%;
  margin-top: 40px;
  padding: 15px;
  box-shadow: 0.5px 1px 5px 1px lightgrey;
}

// Sinlge Tip/ edit and delete

.edit-delete-button{
  border: 1px solid grey;
  color: grey;
  margin: 6px;
  border-radius: 6px;
}


// Single trip- comments
.comment-div {
  text-align: center;
  justify-content: center;
  width: 70%;
  background-color: white;
  border-radius: 8px;
  margin-top: 40px;
  padding: 15px;
  box-shadow: 0.5px 1px 5px 1px lightgrey;
}

.comment-input{
  height: 80px !important;
  width: 500px;
  display: block;
  margin-left: 95px;
  margin-bottom: 10px;
  border-radius: 8px;
  width: 70%;
  border: 1px solid lightgrey;
  box-shadow: 0.5px 1px 5px 1px lightgrey;
}

.uppercase{
  text-transform: uppercase;
}

.comment-button{
  display: inline;
  color: #2f333d;
  background-color: #1877F2;
  border: #E4E6EB;
  height: 30px;
  border-radius: 8px;
  font-weight: bold;
}

.comment-display-div {
  text-align: center;
  justify-content: center;
  width: 80%;
  background-color:  #F1F1F1;
  border-radius: 8px;
  margin-top: 40px;
  margin-left: 40px;
  padding: 15px;
  box-shadow: 0.5px 1px 5px 1px lightgrey;
}

.comment-owner-div {
  text-align: center;
  justify-content: center;
  width: 80%;
  background-color: #f0f2f5;

  border-radius: 8px;
  margin-top: 20px;
  margin-left: 40px;
  padding: 15px;

}

.inline{
  display: inline;
}


// User Lists
.list-link{
  text-decoration: none;
  color:#1877F2;
}

#black{
  color: black;
}

// User Profiles
#user-card-link-divs {
  padding: 15px;
  margin-top: 20px;
  margin-left:8px;
  margin-right: 8px;
  width: 90%;
  box-shadow: 0.5px 1px 5px 1px rgb(193, 193, 193);
  background-color: #f0f2f5;
}

.profile-image-button{
  display: inline;
  color: #2f333d;
  background-color: #1877F2;
  border: #E4E6EB;
  height: 30px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
}








